:root {

    --col-deg   : 265deg;
    --col-sat   : 50%;
    --col-bright: 90%;

    --bg-deg   : 265deg;
    --bg-sat   : 1%;
    --bg-bright: 60%;

    --theme-color   : hsl(var(--col-deg), calc(var(--col-sat) / 100 * 100), calc((var(--col-bright) / 100) * 50));
    --gradient-color: hsl(var(--bg-deg), calc(var(--bg-sat) / 100 * 70), calc((var(--bg-bright) / 100) * 30));
    scrollbar-color : var(--theme-color) #000;
}

*::-webkit-scrollbar {
    width           : var(--scrollbar-width);
    height          : var(--scrollbar-width);
    background-color: var(--gray-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
}

* {
    box-sizing: border-box;
}

html {
    overflow-x     : hidden;
    scroll-behavior: smooth;
    user-select    : none;
}

body {
    width                  : 100vw;
    height                 : 100vh;
    overflow               : hidden;
    margin                 : 0;
    font-family            : Roboto, Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    color                  : #fff;
    background             : transparent;
}

@media (max-width: 900px) {
    *::-webkit-scrollbar {
        width : 0px !important;
        height: 0px !important;
    }
}
